body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #e60023;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c4001a;
}

.hidden {
    display: none;
}

#result img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.media-item {
    margin-top: 10px;
}

.media-item a {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.media-item a:hover {
    background-color: #0056b3;
}